<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#3A99FF">

    <title>SR - Sourabh Rustagi</title>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>



    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDZU62P_bnO55VPHcmBBJUGkTQ4sj3cJXc",
            authDomain: "nglove-1ef8d.firebaseapp.com",
            databaseURL: "https://nglove-1ef8d.firebaseio.com",
            projectId: "nglove-1ef8d",
            storageBucket: "nglove-1ef8d.appspot.com",
            messagingSenderId: "926697119304"
        };
        firebase.initializeApp(config);
    </script>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/animations.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
    <!-- In index.html, add AOS CSS and JS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</head>

<body id="page-top" class="index" ng-app="sr">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">S R</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Projects</a>
                    </li>
                    <!-- <li> -->
                    <!-- <a class="page-scroll" href="#services">Services</a> -->
                    <!-- </li> -->
                    <li>
                        <a class="page-scroll" href="#team">Myself</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact Me</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Hello,</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <p class="section-subheading text-muted" style="padding-left:10%;padding-right:10%;">I could call
                        myself a professional software developer. But, that does not capture what it truly means
                        for me. It means that I have found my vocation, immersed myself in a world of software
                        engineering
                        – pursued a career that I love! My work ethic demonstrate that I do not take this achievement
                        for
                        granted. </p>
                    <p class="section-subheading text-muted" style="padding-left:10%;padding-right:10%;"> I am a
                        full-stack .NET Developer with over 4+ years’ of experience, located in New Delhi, India.</p>
                    </br>

                    <h2>Journey so far...</h2>
                    </br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/silla.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Born </h4>
                                    <h4 class="subheading">20 July, 1991</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Born and brought up in a town named Siliguri, in the district
                                        of Darjeeling. Situated
                                        in the north east region of India in the state of West Bengal.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/school.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>St. Joseph Convent School</h4>
                                    <h4 class="subheading">July 2007</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Passed class X<sup>th</sup> and apart from curriculam, I loved
                                        participating in various
                                        activities like sports, dance, scouts, drama...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mahbert High School</h4>
                                    <h4 class="subheading">June 2009</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Passed class XII<sup>th</sup> with science stream.
                                        Participated in various inter-school
                                        competitions and event and grabbed achivements.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>IITT College Of Engineering, PTU</h4>
                                    <h4 class="subheading">August 2013</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Graduated with Bachelors Of Technology in the field of
                                        Computer Science and Engineering
                                        in the year 2013.</p>
                                </div>
                            </div>
                        </li>
                        <hr/>
                        <h1 class="text-center" style="z-index: 9999;">
                            Careers
                        </h1>
                        <hr/>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/emt.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Easy Trip Planners Pvt. Ltd</h4>
                                    <h4 class="subheading">Aug 2013 - July 2014</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked on developing new module and integrate them with the
                                        current system using technologies
                                        like ASP.NET, MVC, JS, SQL </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Inventra Technologies</h4>
                                    <h4 class="subheading">Aug 2014 - March 2016</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked on developing applications from scratch to level up.
                                        Building and Integrating
                                        API's for Web and Mobile using technologies like Node.js, Angular, ASP.NET, MVC,
                                        JS, SQL </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/daffodil.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Daffodil Software Ltd.</h4>
                                    <h4 class="subheading">April 2016 - ...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Working on Enterprise level solution and architechture.
                                        Modularize development using
                                        vast set of technologies both open source and commercial platform. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/saksoft.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Saksoft</h4>
                                    <h4 class="subheading">Aug 2014 - March 2016</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked on developing applications from scratch to level up.
                                        Building and Integrating
                                        API's for Web and Mobile using technologies like Node.js, Angular, ASP.NET, MVC,
                                        JS, SQL </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/sam.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Samsung Research & Development</h4>
                                    <h4 class="subheading">Aug 2013 - July 2014</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Worked on developing new module and integrate them with the
                                        current system using technologies
                                        like ASP.NET, MVC, JS, SQL </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be a Part
                                    <br>Of My
                                    <br>Story!
                                </h4>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted">Projects undertaken so far or worked on</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/emt.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Easemytrip.com</h4>
                        <p class="text-muted">Web Development</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/travelclinic.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>TravelClinic.com</h4>
                        <p class="text-muted">Web Development</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/honda.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Honda Employee Portal</h4>
                        <p class="text-muted">Web Development</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/dc.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Doctors Chambers</h4>
                        <p class="text-muted">Web Development</p>
                    </div>
                </div>
                <!-- <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Escape</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/dreams.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dreams</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <!-- <section id="services"> -->
    <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-lg-12 text-center"> -->
    <!-- <h2 class="section-heading">Services</h2> -->
    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div class="row text-center"> -->
    <!-- <div class="col-md-4"> -->
    <!-- <span class="fa-stack fa-4x"> -->
    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
    <!-- <i class="fa fa-user-circle-o fa-stack-1x fa-inverse"></i> -->
    <!-- </span> -->
    <!-- <h4 class="service-heading">E-Commerce</h4> -->
    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore -->
    <!-- harum ex magni, dicta impedit.</p> -->
    <!-- </div> -->
    <!-- <div class="col-md-4"> -->
    <!-- <span class="fa-stack fa-4x"> -->
    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
    <!-- <i class="fa fa-users fa-stack-1x fa-inverse"></i> -->
    <!-- </span> -->
    <!-- <h4 class="service-heading">Responsive Design</h4> -->
    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore -->
    <!-- harum ex magni, dicta impedit.</p> -->
    <!-- </div> -->
    <!-- <div class="col-md-4"> -->
    <!-- <span class="fa-stack fa-4x"> -->
    <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i> -->
    <!-- <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i> -->
    <!-- </span> -->
    <!-- <h4 class="service-heading">Web Security</h4> -->
    <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore -->
    <!-- harum ex magni, dicta impedit.</p> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    <!-- </section> -->






    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Myself</h2>
                    <h3 class="section-subheading text-muted">I am what I am and when I grow up .... </h3>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sourabh Rustagi</h4>
                        <p class="text-muted">Senior Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://www.facebook.com/sourabh.rustagi"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/sourabh-rustagi-85b50372"><i
                                        class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1>Personally</h1>
                    <p class="large text-muted">Born in the beautiful foothills of the himalayas. I have always admired
                        nature the most and calmness has always attracted me.
                        On my weenends I usually take part in the outdoor activities and love to travel alot. In my
                        spare time I do like to challenge my brain with some puzzles or code to sole a problem.</p>
                    </br>
                    <h1>Professionally</h1>
                    <p class="large text-muted">I specialize in Web development and architecture, mostly revolving
                        around the .NET ecosystem. I’m interested
                        in scalability, both from a software perspective, as well as a system and network perspective.
                        Innovation
                        has always attracted me. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside  -->
    <!-- <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside> -->

    <!-- Contact Section -->
    <section id="contact" ng-controller="mainConatct">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                    <h3 class="section-subheading text-muted">Feel free to contact me anytime...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" ng-model="Name" class="form-control" placeholder="Your Name *"
                                        id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" ng-model="Email" class="form-control" placeholder="Your Email *"
                                        id="email" required
                                        data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" ng-model="Phone" class="form-control" placeholder="Your Phone *"
                                        id="phone" required
                                        data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea ng-model="Message" class="form-control" placeholder="Your Message *"
                                        id="message" required
                                        data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl" ng-click="saveContactMe()">Send
                                    Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; SRustagi.com 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="http://www.facebook.com/sourabh.rustagi"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/sourabh-rustagi-85b50372"><i
                                    class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Easemytrip.com</h2>
                                <p class="item-intro text-muted">Easy Trip Planners Pvt. Ltd. | New Delhi - 110092
                                    (India)</p>
                                <img class="img-responsive img-centered" src="img/portfolio/emt.jpg" alt="">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                    adipisicing
                                    elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat
                                    aperiam
                                    quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum,
                                    reiciendis
                                    facere nemo!</p>
                                <p>
                                    <strong>Want these icons in this portfolio item sample?</strong>You can download 60
                                    of
                                    them for free, courtesy of <a
                                        href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>,
                                    or you can purchase the 1500 icon set <a
                                        href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.
                                </p>
                                <ul class="list-inline">
                                    <li>Date: July 2014</li>
                                    <li>Client: Round Icons</li>
                                    <li>Category: Graphic Design</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>TravelClinic.com</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/travelclinic.jpg" alt="">
                                <p>TravelClinic is your architect of inimitable travel experiences that we especially
                                    craft
                                    for you. We offer travel solutions that are unique in their own way, exactly like
                                    you
                                    are!.
                                </p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Honda Employee Portal</h2>
                                <p class="item-intro text-muted"></p>
                                <img class="img-responsive img-centered" src="img/portfolio/honda.jpg" alt="">
                                <p>Honda is the world’s largest manufacturer of two Wheelers , Recognized the world over
                                    as
                                    the symbol of Honda two wheelers , the ‘Wings’ arrived in India as Honda Motorcycle
                                    and
                                    Scooter India Pvt. Ltd. (HMSI ), a 100% subsidiary of Honda Motor Company Ltd.,
                                    Japan
                                    ,in 1999. Since its establishment in 1999 at Manesar, District Gurgaon, Haryana,
                                    Honda
                                    has lived up to its reputation of offering the highest quality at the most
                                    reasonable
                                    price. Despite being one of the youngest players in the Indian two-wheelers market,
                                    Honda
                                    has become the largest two wheeler manufacturer as well as the second largest
                                    two-wheelers
                                    company in India.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Doctors Chambers</h2>
                                <p class="item-intro text-muted">Doctors Chambers (UK) Ltd | Windsor, UK</p>
                                <img class="img-responsive img-centered" src="img/portfolio/dc.jpg" alt="">
                                <p>Based in Windsor, Doctors Chambers was established in 1994 to provide independent and
                                    objective
                                    medical evidence along with injury management via a national network of medical
                                    experts
                                    and therapists. The company provides in excess of 80,000 reports per annum and
                                    continues
                                    to grow organically. The company has unrivalled in-house medical expertise and
                                    covers
                                    all medical disciplines and all parts of the UK. Doctors Chambers has one of the
                                    largest
                                    panels of medical experts with many being leaders in their field and of
                                    international
                                    repute.
                                </p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/escape-preview.png" alt="">
                                <p>Escape is a free PSD web template built by <a
                                        href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>.
                                    Escape is a one page web template that was designed with agencies in mind. This
                                    template
                                    is ideal for those looking for a simple one page solution to describe your business
                                    and
                                    offer your services.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a
                                        href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.
                                </p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>Project Name</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/dreams-preview.png" alt="">
                                <p>Dreams is a free PSD web template built by <a
                                        href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>.
                                    Dreams is a modern one page web template designed for almost any purpose. It’s a
                                    beautiful
                                    template that’s designed with the Bootstrap framework in mind.</p>
                                <p>You can download the PSD template in this portfolio sample item at <a
                                        href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.
                                </p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"
        integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb"
        crossorigin="anonymous"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <!-- <script src="js/contact_me.js"></script> -->

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

    <script src="js/animations.js"></script>

    <!--Angualize app-->
    <script src="js/angularishApp.js"></script>

</body>

</html>